@model RadioCabs.Models.Cars

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}

<div class="am-pagetitle">
    <h5 class="am-title">Edit Company's Detail</h5>
    <form id="searchBar" class="search-bar" action="index.html">
        <div class="form-control-wrapper">
            <input type="search" class="form-control bd-0" placeholder="Search...">
        </div><!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>
    </form><!-- search-bar -->
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">

        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Add Cars</h6>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CompanyId" value="@ViewBag.id"/>
                <div class="form-layout">
                    <div class="row mg-b-25">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Car Name: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="CarsName">
                                <span asp-validation-for="CarsName" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Car Picture: <span class="tx-danger">*</span></label>
                                <input class="form-control" type="file" name="image">
                                <span asp-validation-for="CarsImage" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Car Model: <span class="tx-danger">*</span></label>
                                <input class="form-control" type="text" asp-for="CarsModel">
                                <span asp-validation-for="CarsModel" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label class="form-control-label">Cars Number: <span class="tx-danger">*</span></label>
                                <input class="form-control" asp-for="CarsNumber">
                                <span asp-validation-for="CarsNumber" class="text-danger"></span>
                            </div>
                        </div><!-- col-4 -->
                    </div><!-- row -->

                    <div class="form-layout-footer">
                        @*<button class="btn btn-info mg-r-5">Submit Form</button>*@
                        <input type="submit" class="btn btn-info mg-r-5" value="Submit">
                        <input type="reset" class="btn btn-secondary" value="Reset">
                        @*<button class="btn btn-secondary">Cancel</button>*@
                    </div><!-- form-layout-footer -->
                </div><!-- form-layout -->
            </form>
        </div><!-- card -->

    </div><!-- am-pagebody -->

