@model RadioCabs.Models.CompanyRegistration

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/admin_Layout.cshtml";
}



<div class="am-pagetitle">
    <h5 class="am-title">Edit Company's Detail</h5>
    <form id="searchBar" class="search-bar" action="index.html">
        <div class="form-control-wrapper">
            <input type="search" class="form-control bd-0" placeholder="Search...">
        </div><!-- form-control-wrapper -->
        <button id="searchBtn" class="btn btn-orange"><i class="fa fa-search"></i></button>
    </form><!-- search-bar -->
</div><!-- am-pagetitle -->

<div class="am-mainpanel">
    <div class="am-pagebody">

        <div class="card pd-20 pd-sm-40">
            <h6 class="card-body-title">Edit Detail</h6>
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CompanyId" />
                <div class="form-layout">
                <div class="row mg-b-25">
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">CompanyName: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="CompanyName">
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">ContactPerson: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="ContactPerson">
                            <span asp-validation-for="ContactPerson" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Designation: <span class="tx-danger">*</span></label>
                            <input class="form-control" type="text" asp-for="Designation">
                            <span asp-validation-for="Designation" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                     <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Logo Image: <span class="tx-danger">*</span></label>
                            <input type="file" name="image" class="form-control">
                            <span asp-validation-for="LogoImage" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Fax Numebr: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="FaxNumber">
                            <span asp-validation-for="FaxNumber" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                     <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Mobile: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Mobile">
                            <span asp-validation-for="Mobile" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Telephone: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Telephone">
                            <span asp-validation-for="Telephone" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Payment Type: <span class="tx-danger">*</span></label>
                            <select asp-for="PaymentType" class="form-control">
                                <option value="">-- Select Payment Type --</option>
                                    <option value="Monthly">Monthly</option>
                                    <option value="Quaterly">Quarterly</option>
                            </select>
                            <span asp-validation-for="PaymentType" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                     <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Membership Type: <span class="tx-danger">*</span></label>
                            <select asp-for="MembershipType" class="form-control">
                                <option value="">-- Select Membership Type --</option>
                                    <option value="Free">Free</option>
                                    <option value="Basic">Basic</option>
                                    <option value="Premium">Premium</option>
                            </select>
                            <span asp-validation-for="MembershipType" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group">
                            <label class="form-control-label">Email address: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Email" >
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-4">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">city: <span class="tx-danger">*</span></label>
                            <select asp-for="City" class="form-control select2">
                                <option value="">-- Select City --</option>
                                    <option value="Karachi">Karachi</option>
                                    <option value="Islamabad">Islamabad</option>
                                    <option value="Rawalpindi">Rawalpindi</option>
                                    <option value="Hyderabad">Hyderabad</option>
                                    <option value="Multan">Multan</option>
                                    <option value="Lahore">Lahore</option>
                                    <option value="Quetta">Quetta</option>
                            </select>
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div><!-- col-4 -->
                    <div class="col-lg-8">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Address: <span class="tx-danger">*</span></label>
                            <input class="form-control" asp-for="Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div><!-- col-8 -->
                    <div class="col-lg-8">
                        <div class="form-group mg-b-10-force">
                            <label class="form-control-label">Description: <span class="tx-danger">*</span></label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div><!-- col-8 -->
                </div><!-- row -->
                            <input type="hidden" class="form-control" asp-for="UserId">

                <div class="form-layout-footer">
                    @*<button class="btn btn-info mg-r-5">Submit Form</button>*@
                    <input type="submit" class="btn btn-info mg-r-5" value="Submit">
                    <input type="reset" class="btn btn-secondary" value="Reset">
                    @*<button class="btn btn-secondary">Cancel</button>*@
                </div><!-- form-layout-footer -->
            </div><!-- form-layout -->
            </form>
        </div><!-- card -->
        
    </div><!-- am-pagebody -->
        
        


