@using RadioCabs.Models
@model IEnumerable<CompanyRegistration>
@{
	ViewData["Title"] = "CompanyView";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- start banner Area -->
<section class="banner-area relative about-banner" id="home">
	<div class="overlay overlay-bg"></div>
	<div class="container">
		<div class="row d-flex align-items-center justify-content-center">
			<div class="about-content col-lg-12">
				<h1 class="text-white">
					Cabs Companies
				</h1>
				<p class="text-white link-nav"><a asp-area="" asp-controller="Home" asp-action="Index">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Contact Us</a></p>
			</div>
		</div>
	</div>
</section>
<!-- End banner Area -->
<!-- Start Company-Listing Area -->
<section class="latest-blog-area section-gap mt-15">
	<div class="container">
		<div class="row section-title">
			<h1>Click For Cab !</h1>
			<p>Who are in extremely love with eco friendly system.</p>
		</div>

		<div class="row section-title">
			<h3><a asp-controller="Home" asp-action="CompanyForm" class="btn btn-warning genric-btn circle">Register Your Own Company</a></h3>
		</div>

		<div class="row">
			@foreach (var item in Model)
			{
				<div class="col-lg-4">
					<div class="single-latest-blog">
						<div class="thumb">
							<img class="img-fluid" src="~/@item.LogoImage" alt="">
						</div>
						<ul class="tags">
							<li><a href="#">Details</a></li>
							<li><a href="#">Book Now !</a></li>
						</ul>
						<a href="#">
							<h4>@item.CompanyName</h4>
						</a>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
						</p>
						<p class="date">31st January, 2018</p>
					</div>
				</div>
			}

			@*<div class="col-lg-4">
				<div class="single-latest-blog">
					<div class="thumb">
						<img class="img-fluid" src="~/web/img/b2.jpg" alt="">
					</div>
					<ul class="tags">
						<li><a href="#">Details</a></li>
						<li><a href="#">Book Now !</a></li>
					</ul>
					<a href="#">
						<h4>Portable latest Fashion for young women</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="date">31st January, 2018</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="single-latest-blog">
					<div class="thumb">
						<img class="img-fluid" src="~/web/img/b2.jpg" alt="">
					</div>
					<ul class="tags">
						<li><a href="#">Details</a></li>
						<li><a href="#">Book Now !</a></li>
					</ul>
					<a href="#">
						<h4>Portable latest Fashion for young women</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="date">31st January, 2018</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="single-latest-blog">
					<div class="thumb">
						<img class="img-fluid" src="~/web/img/b2.jpg" alt="">
					</div>
					<ul class="tags">
						<li><a href="#">Details</a></li>
						<li><a href="#">Book Now !</a></li>
					</ul>
					<a href="#">
						<h4>Portable latest Fashion for young women</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="date">31st January, 2018</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="single-latest-blog">
					<div class="thumb">
						<img class="img-fluid" src="~/web/img/b2.jpg" alt="">
					</div>
					<ul class="tags">
						<li><a href="#">Details</a></li>
						<li><a href="#">Book Now !</a></li>
					</ul>
					<a href="#">
						<h4>Portable latest Fashion for young women</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="date">31st January, 2018</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="single-latest-blog">
					<div class="thumb">
						<img class="img-fluid" src="~/web/img/b2.jpg" alt="">
					</div>
					<ul class="tags">
						<li><a href="#">Details</a></li>
						<li><a href="#">Book Now !</a></li>
					</ul>
					<a href="#">
						<h4>Portable latest Fashion for young women</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="date">31st January, 2018</p>
				</div>
			</div>

			<div class="col-lg-4">
				<div class="single-latest-blog">
					<div class="thumb">
						<img class="img-fluid" src="~/web/img/b2.jpg" alt="">
					</div>
					<ul class="tags">
						<li><a href="#">Details</a></li>
						<li><a href="#">Book Now !</a></li>
					</ul>
					<a href="#">
						<h4>Portable latest Fashion for young women</h4>
					</a>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore  et dolore.
					</p>
					<p class="date">31st January, 2018</p>
				</div>
			</div>*@

		</div>

	</div>
</section>
<!-- End Company-Listing Area -->