@*@model RadioCabs.Models.Registration*@
@*@model RadioCabs.Models.Registration*@
@using RadioCabs.Models;
@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="~/web/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="colorlib">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Taxi</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
	<!--
	CSS
	============================================= -->
	<link rel="stylesheet" href="~/web/css/linearicons.css">
	<link rel="stylesheet" href="~/web/css/font-awesome.min.css">
	<link rel="stylesheet" href="~/web/css/bootstrap.css">
	<link rel="stylesheet" href="~/web/css/magnific-popup.css">
	<link rel="stylesheet" href="~/web/css/nice-select.css">
	<link rel="stylesheet" href="~/web/css/animate.min.css">
	<link rel="stylesheet" href="~/web/css/jquery-ui.css">
	<link rel="stylesheet" href="~/web/css/main.css">

</head>
<body>
	<header id="header">
		<div class="header-top">
		</div>
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/web/img/Radiocabs.png" width="250px" height="50px" alt="" title="" /></a>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Driver">Drivers</a></li>
						<li class="menu-has-children">
							<a asp-area="" asp-controller="Home" asp-action="Company">Cab's Companies</a>
							<ul>
								<li><a asp-area="" asp-controller="Home" asp-action="Company">Karachi</a></li>
								<li><a asp-area="" asp-controller="Home" asp-action="Company">Hyderabad</a></li>
								<li class="menu-has-children">
									<a asp-area="" asp-controller="Home" asp-action="Company">Multan</a>
									<ul>
										<li><a asp-area="" asp-controller="Home" asp-action="Company">Company One</a></li>
										<li><a asp-area="" asp-controller="Home" asp-action="Company">Company Two</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li><a asp-area="" asp-controller="Home" asp-action="Feedback">Feedback</a></li>
						<li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
						@if (Context.Session.GetString("N") != null)
						{
							<li class="menu-has-children">
								<a asp-area="" asp-controller="Home" asp-action="Profile">My Account</a>
								<ul>
									<li><a asp-area="" asp-action="Profile">Profile</a></li>
									@if (Context.Session.GetInt32("Co")!=null)
									{
										<li><a asp-area="" asp-controller="Admin" asp-action="Index">Manage Company</a></li>
									}
									else if (Context.Session.GetInt32("Dr") != null)
									{
										<li><a asp-area="" asp-controller="Admin" asp-action="Index">Manage Driver</a></li>
									}
									else if (Context.Session.GetInt32("Dr") == null && Context.Session.GetInt32("Co") == null && Context.Session.GetInt32("R") == 0)
									{
										<li><a asp-area="" asp-controller="Home" asp-action="CompanyForm">Add Company</a></li>
										<li><a asp-area="" asp-controller="Home" asp-action="DriverForm">Become a Driver</a></li>
									}
									else if (Context.Session.GetInt32("R") != 0)
									{
										<li><a asp-area="" asp-controller="Admin" asp-action="Index">Back To Dashboard</a></li>
									}
									<li><a asp-area="" asp-controller="Registrations" asp-action="UserLogout">Logout</a></li>
								</ul>
							</li>
						}
						else
						{
							<li><a asp-area="" asp-controller="Registrations" asp-action="UserLogin">Login</a></li>
							@*<li><a asp-area="" asp-controller="Registrations" asp-action="UserLogout">Logout</a></li>*@
						}
					</ul>
				</nav><!-- #nav-menu-container -->
			</div>
		</div>
	</header><!-- #header -->



            @RenderBody()




	<!-- start footer Area -->
	<footer class="footer-area section-gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Quick links</h6>
						<ul>
							<li><a href="#">Jobs</a></li>
							<li><a href="#">Brand Assets</a></li>
							<li><a href="#">Investor Relations</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Features</h6>
						<ul>
							<li><a href="#">Jobs</a></li>
							<li><a href="#">Brand Assets</a></li>
							<li><a href="#">Investor Relations</a></li>
							<li><a href="#">Terms of Service</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Resources</h6>
						<ul>
							<li><a href="#">Guides</a></li>
							<li><a href="#">Research</a></li>
							<li><a href="#">Experts</a></li>
							<li><a href="#">Agencies</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
					<div class="single-footer-widget">
						<h6>Follow Us</h6>
						<p>Let us be social</p>
						<div class="footer-social d-flex align-items-center">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-dribbble"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
				<div class="col-lg-4  col-md-6 col-sm-6">
					<div class="single-footer-widget">
						<h6>Newsletter</h6>
						<p>Stay update with our latest</p>
						<div class="" id="mc_embed_signup">
							<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" method="get" class="form-inline">
								<input class="form-control" name="EMAIL" placeholder="Enter Email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Email '" required="" type="email">
								<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
								<div style="position: absolute; left: -5000px;">
									<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
								</div>

								<div class="info"></div>
							</form>
						</div>
					</div>
				</div>
				<p class="mt-80 mx-auto footer-text col-lg-12">
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
					Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
					<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
				</p>
			</div>
		</div>
		<img class="footer-bottom" src="~/web/img/footer-bottom.png" alt="">
	</footer>
	<!-- End footer Area -->

	<script src="~/web/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="~/web/js/vendor/bootstrap.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="~/web/js/easing.min.js"></script>
	<script src="~/web/js/hoverIntent.js"></script>
	<script src="~/web/js/superfish.min.js"></script>
	<script src="~/web/js/jquery.ajaxchimp.min.js"></script>
	<script src="~/web/js/jquery.magnific-popup.min.js"></script>
	<script src="~/web/js/jquery-ui.js"></script>
	<script src="~/web/js/jquery.nice-select.min.js"></script>
	<script src="~/web/js/mail-script.js"></script>
	<script src="~/web/js/main.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<script>
		$(document).ready(function() {
		  // Hide the paragraph initially
		  $('#Mon').hide();
		  $('#Qua').hide();

		  // Attach the change event handler to the select element
		  $('#type').change(function() {
			var selectedOption = $(this).val();

			if (selectedOption === 'Monthly') {
				$('#Mon').show(); // Show the paragraph
				$('#Qua').hide(); // Show the paragraph
			}
			else if (selectedOption === 'Quarterly') {
				$('#Mon').hide(); // Show the paragraph
				$('#Qua').show(); // Show the paragraph
			}
			else if (selectedOption === '') {
				$('#Mon').hide(); // Show the paragraph
				$('#Qua').hide(); // Show the paragraph
			} 
			else {
				$('#Mon').hide(); // Show the paragraph
				$('#Qua').hide(); // Show the paragraph

			}
		  });
		});
	</script>
</body>
</html>


@*    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - RadioCabs - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>*@
